@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(12px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* FORCE TAILWIND REBUILD */
.__force_dark_rebuild {}
@media print {

  body {
    background: white !important;
    color: black !important;
  }

  button {
    display: none;
  }

  textarea {
    display: none;
  }

}